# Data Manipulation
pandas
numpy

# Natural Language Processing
spacy
nltk
wordcloud
textstat
gensim

# Machine Learning
scikit-learn

# Visualization
seaborn
matplotlib

# Model Download (Direct link for spacy model)
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
